<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto AWS EC2</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #0f172a;
            color: #e5e7eb;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .box {
            background: #020617;
            padding: 40px;
            border-radius: 12px;
            text-align: center;
        }
        h1 { color: #38bdf8; }
    </style>
</head>
<body>
    <div class="box">
        <h1>🚀 Projeto rodando na AWS EC2</h1>
        <p>Aplicação em Python + Flask</p>
        <p>Deploy manual em instância EC2</p>
    </div>
</body>
</html>


